body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
    
  overflow-x: hidden; 
  background-color: #FFFFFF;
  font-family: 'Futura Md BT';
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  text-align: center;
}

/* MOBILE VIEW */
.sm-hide {
  display: none;
}

header {
  /* background-image: linear-gradient(#e6efff, #f6f9ff, #ffffff); */
  background: linear-gradient(180deg, #DCE9FF -3.6%, rgba(231, 240, 255, 0.0104167) 99.99%, rgba(220, 233, 255, 0) 100%);
  /* background-image: url('../images/hero-png\ \(2\).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  padding-top: 20px;
  /* width: 100%; */
  /* height: 80vh; */
 
}

header .hero, header .phone-hero {
  padding: 20px;
}

header .hero h1 {
  padding-top: 10px;
  font-family: 'Volkhov', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #1B2436;

}

header .hero p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #535353;
}

header .hero form {
  padding-top: 20px;
}

header .hero form input {
  padding: 10px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 30px;
  width: 250px;
  height: 40px;

  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 80px;
  color: #999999;
  outline: none;
}

header .hero form button {
  width: 250px;
  height: 40px;
  border: none;
  background: #7857E9;
  box-shadow: 0px 5px 25px rgba(120, 87, 233, 0.5);
  border-radius: 30px;
  margin-top: 10px;

  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 80px; */
  color: #FFFFFF;
  outline: none;
}

header .hero form input:focus, main .hero form input:active {
  border: 1px solid #7857E9;
}

main {
  margin-top: 70px;
  padding: 0;
  margin: 0 auto;
}

main .about hr , main .features hr {
  margin-top: 40px;
  width: 77px;
  border: 3px solid #7857E9;
  border-radius: 2px;
}

main .about h1, main .features h1 {
  font-family: 'Volkhov', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  color: #1B2436;
}

main .about p, main .features p {
  width: 300px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #535353;
  margin-bottom: 40px;
}

main .about .details-box {
  max-width: 500px;
}

main .about .num-box {
  width: 50px;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(153, 153, 153, 0.25);
  border-radius: 10px;
  font-family: 'Volkhov', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #7857E9;
  margin: 0 auto;
}

main .about h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #535353;
  margin-top: 10px;
}

main .features {
  padding: 25px 10px;
  background-color: #FDFDFD;
}

main .features .feature-image img {
  width: 250px;
  /* height: 100vh; */
}

main .features .feature-text h2 {
  /* font-family: 'Volkhov', serif; */
  /* width: 291px; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #1B2436;
}

main .features .feature-text p{
  width: 280px;
  /* max-width: 300px; */
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  color: #535353;
  margin-bottom: 40px;
  text-align: center;
}

main .banner {
   background-color: #FFFFFF;
   margin: 0 auto;
   padding: 0;
}

main .banner .banner-box {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #DCE9FF;
  box-shadow: 0px 4px 5px rgba(153, 153, 153, 0.25);
  border-radius: 0px 50px;
  text-align: center;
  
}

main .banner .banner-box .text1 {
  font-family: 'Volkhov', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
  color: #343434;
}

main .banner .banner-box .text2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

main .banner .banner-box form {
  width: 250px;
  margin: 0 auto;
}

main .banner .banner-box form input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 30px;

  width: 250px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  color: #999999;
  text-align: center;
  outline: none;
}

main .banner .banner-box form input:focus, main .banner .banner-box form input:active {
  border: 1px solid #7857E9;
}

main .banner .banner-box form button{
  background: #7857E9;
  box-shadow: 0px 4px 20px rgba(120, 87, 233, 0.5);
  border-radius: 30px;
  border: none;

  margin-top: 10px;
  width: 250px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
  outline: none;
}

footer {
  background: #1B2436;
  color: #FFFFFF;
  padding: 20px;
}

footer img {
  margin: 0 auto;
  width: 134px;
}

footer h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
}

footer h3 a {
  color: #FFFFFF;
  font-style: italic;
}

footer h3 a:hover {
  color: #FFFFFF;
}



/* TABLET VIEW  */
@media (min-width: 768px) {
.sm-show {
  display: none;
}  

.sm-hide {
  display: flex;
  width: 10px;
}
header .hero, header .phone-hero {
  padding: 20px;
  margin-top: 20px;
}

header .hero h1 {
  width: 100%;
  font-size: 45px;
  line-height: 65px;
  color: #1B2436;
}

.hero p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  color: #535353;
}
 
header .hero form input {
  width: 180px;
}

header .hero form button {
  width: 100px;
  padding: 5px;
}

header .phone-hero img{
  margin-top: 40px;
}

main .about h1, main .features h1 {
  font-size: 36px;
  line-height: 50px;
}

main .about p, main .features p {
  width: 437px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #535353;
  margin-bottom: 40px;
}

main .features p {
  width: 437px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #535353;
  margin-bottom: 40px;
}

main {
  margin-top: 40px;
}

main .about .details-box {
  width: 400px;
}

main .about .num-box {
  padding: 15px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #7857E9;
}

main .about h3 {
  font-size: 24px;
  line-height: 40px;
  color: #535353;
  margin-bottom: 25px;
}

main .features .feature-image img {
  width: 100%;
  height: 100%;
}

main .features .feature-text h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  text-align: left;
  color: #1B2436;
  margin-top: 40px;
}

main .features .feature-text p{
  width: 350px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 40px;
  color: #535353;
  margin-bottom: 40px;
  text-align: left;
}

main .banner  {
  padding-top: 40px;
  margin-bottom: 30px;
}
main .banner .banner-box  {
  padding: 20px;
  margin: 0 20px;
}

main .banner .banner-box .text1 {
  font-size: 32px;
}

main .banner .banner-box .text2 {
  font-size: 24px;
}

main .banner .banner-box {
  padding-top: 50px;
}

main .banner .banner-box form {
  width: auto;
  /* margin: 0 auto; */
}

main .banner .banner-box form input {
  width: 190px;
  margin-top: 10px;
  font-size: 16px;
}

main .banner .banner-box form button{
  width: 80px;
  margin-top: 10px;
  font-size: 20px;
}
}

/* LAPTOP/DESKTOP VIEW */
@media (min-width: 1024px) {
  header .hero form input {
    width: 220px;
    height: 50px;
    margin-right: 10px;
  }
  
  header .hero form button {
    width: 120px;
    padding: 5px;
  }

  main .about p, main .features p {
    width: 687px;
    margin-bottom: 70px;
  }

  main .about h3 {
    font-size: 24px;
    line-height: 40px;
    color: #535353;
    margin-bottom: 60px;
  }
  
main .features {
    padding: 25px 15px;
    width: 900;
    /* margin: 0 auto; */
}
  
main .features .feature-text h2 {
  color: #1B2436;
  margin-top: 40px;
}

main .features .feature-text p{
  width: 400px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 40px;
  color: #535353;
  /* margin-bottom: 30px; */
  text-align: left;
}

main .banner .banner-box {
  padding: 50px;
  margin-bottom: 60px;

}

main .banner .banner-box form input {
  width: 230px;
  margin-top: 10px;
  font-size: 20px;
}

main .banner .banner-box form button{
  width: 100px;
  margin-top: 10px;
  font-size: 22px;
}



}